.main-option {
    .main-option__item {
        display: block;
        position: relative;
        cursor: pointer;
        padding-left: 2.5rem;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
        &:hover .checkbox {
            background-color: $gray-light-color;
        }
        input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            &:checked ~ .checkbox {
                background-color: $primary-color;
            }
            &:checked ~ .checkbox::before {
                visibility: visible;
                overflow: visible;
            }
            &:checked ~ .radio {
                background-color: $primary-color;
            }
            &:checked ~ .checkbox::before {
                visibility: visible;
                overflow: visible;
            }
        }
        .checkbox {
            @include size(1.5rem);
            display: inline-block;
            background-color: #fff;
            border: 1px solid $primary-color;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.25s linear;
            &::before {
                content: "";
                position: absolute;
                @include size(5px, 10px);
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                top: 0px;
                left: 4.4px;
                transform: rotate(35deg);
                visibility: hidden;
                overflow: hidden;
            }
        }
        .radio {
            @include size(1.5rem);
            display: inline-block;
            background-color: #fff;
            border: 1px solid $primary-color;
            border-radius: 2px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.25s linear;
        }
    }
}
