@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  color: #2e2e2e;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.main-option .main-option__item {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
.main-option .main-option__item:hover .checkbox {
  background-color: #f4f4f4;
}
.main-option .main-option__item input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.main-option .main-option__item input:checked ~ .checkbox {
  background-color: #2e2e2e;
}
.main-option .main-option__item input:checked ~ .checkbox::before {
  visibility: visible;
  overflow: visible;
}
.main-option .main-option__item input:checked ~ .radio {
  background-color: #2e2e2e;
}
.main-option .main-option__item input:checked ~ .checkbox::before {
  visibility: visible;
  overflow: visible;
}
.main-option .main-option__item .checkbox {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s linear;
}
.main-option .main-option__item .checkbox::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  top: 0px;
  left: 4.4px;
  transform: rotate(35deg);
  visibility: hidden;
  overflow: hidden;
}
.main-option .main-option__item .radio {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s linear;
}

.main-select {
  border-top: 2px solid #2e2e2e;
}
.main-select__name {
  position: relative;
  order: 1;
  width: 100%;
  text-transform: uppercase;
  padding: 1.5rem 0;
  cursor: pointer;
}
.main-select__name::before {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #2e2e2e;
  right: 0;
  transition: all 0.25s linear;
}

.main-option {
  max-height: 0;
  opacity: 0;
  order: 2;
  transition: all 0.15s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-option__item {
  display: inline-block;
}

.active {
  max-height: fit-content;
  opacity: 1;
}

.active + .main-select__name::before {
  transform: rotateX(180deg);
}

.modal {
  display: none;
}
.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
  height: auto;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2rem;
}
.form__heading {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.form lable {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  width: 100%;
}
.form lable input {
  margin-top: 1rem;
  width: 100%;
}
.form__submit {
  border: none;
  width: 6rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.form__text {
  text-align: center;
  padding-bottom: 2rem;
}
.form__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid #2e2e2e;
  cursor: pointer;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* body::-webkit-scrollbar {
  display: none;
} */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}


input,
button,
textarea,
select {
  font-size: 12px;
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visible {
  visibility: hidden;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .visible {
    visibility: visible;
    overflow: visible;
  }
}

.header {
  --border-bottom: 1px solid #ebebeb;
  padding-bottom: 3rem;
}
.header .container__top {
  display: flex;
  --align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header-left {
  width: 25.6rem;
}

@media screen and (max-width: 767px) {
  .header-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.header-center {
  flex-grow: 1;
}
.header__icon {
  visibility: hidden;
  overflow: hidden;
}
.header-search {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
}
.header-search__input {
  padding: 1rem 1.8rem;
  width: 100%;
  flex-grow: 1;
  border: 1px solid #2e2e2e;
  border-right: 0;
  font-size: 1.4rem;
}
.header-search__input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #929292;
}
.header-search__input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #929292;
}
.header-search__input :-ms-input-placeholder {
  /* IE 10+ */
  color: #929292;
}
.header-search__input :-moz-placeholder {
  /* Firefox 18- */
  color: #929292;
}
.header-search__button {
  border: none;
  flex-shrink: 0;
  background-color: #2e2e2e;
  color: white;
  padding: 0 2.5rem;
  font-size: 1.4rem;
}
.header-bottom {
  padding-left: 25.6rem;
  margin-top: -0.8rem;
}
.header-bottom--res {
  display: none;
}
.header-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;
  margin-left: -2rem;
}
.header-menu__item {
  margin-left: 2rem;
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* end */

.header-menu__item a {
  position: relative;
  color: #2e2e2e;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;
  }
  .header-center {
    position: relative;
  }
  .header__icon {
    visibility: visible;
    overflow: visible;
    position: absolute;
    right: -8px;
    top: 16px;
    font-size: 1.6rem;
  }
  .header-search {
    overflow: hidden;
    visibility: hidden;
  }
  .header .container__top {
    margin-bottom: 1.3rem;
  }
  .header-bottom {
    display: none;
  }
  .header-bottom--res {
    display: block;
    margin: 0;
    padding-left: 20px;
    color: #2e2e2e;
    font-weight: bold;
  }
}

.main-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2.5rem 0 4.5rem;
}
@media screen and (max-width: 767px) {
  .main-top {
    display: none;
  }
}
.main__heading {
  font-size: 4.8rem;
  color: #01bcb5;
  text-transform: uppercase;
  word-spacing: -5px;
  font-weight: 500;
}
.main__free {
  width: 16rem;
  height: 3rem;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-sort {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-sort__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-sort__item {
  margin-left: 2.5rem;
  color: #2e2e2e;
}
.main-sort__item a {
  text-transform: uppercase;
  color: #2e2e2e;
}
.main-sort__item::after {
  content: "";
  margin-top: 4px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #2e2e2e;
  transition: width 0.4s;
}
.main-sort__item:hover::after {
  width: 100%;
}
.main-sort__item a:active {
  color: inherit;
}
.main-filter {
  width: 22rem;
  margin-right: 3.6rem;
  flex-shrink: 0;
}
.main-select {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.main-option {
  width: 100%;
}
.main-option__radio {
  position: relative;
}
.main-option__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-option__radio input:checked ~ .raido-mark {
  background-color: #2e2e2e;
  color: #fff;
  transition: 0.25s ease;
}
.main-option__radio .raido-mark {
  width: 4.7rem;
  height: 2.9rem;
  border: 1px solid #2e2e2e;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.main-option__slider {
  margin-top: 1.5rem;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #2e2e2e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.main-option__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border: 1px solid #2e2e2e;
  border-radius: 50%;
  cursor: pointer;
}
.main-size {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.8rem;
}
.main-center {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-content {
  flex-grow: 1;
  --space: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -2rem;
}
@media screen and (max-width: 1023px) {
  .main__heading {
    font-size: 3.4rem;
  }
  .main-sort {
    transform: translateY(2.5rem);
    width: 47.2rem;
  }
  .main-sort__item {
    flex-shrink: 0;
    margin-left: 1.9rem;
  }
}
@media screen and (max-width: 1024px) {
  .main__heading {
    font-size: 3.4rem;
  }
  .main-sort {
    transform: translateY(2.5rem);
    width: 47.2rem;
  }
  .main-sort__item {
    flex-shrink: 0;
    margin-left: 1.9rem;
  }
}
@media screen and (max-width: 767px) {
  .main-content {
    margin-left: -1.6rem;
  }
  .main__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  .main-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2rem 2rem;
    transform: translateX(-100%);
  }
  .main-free {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    text-transform: uppercase;
    padding: 2rem 0;
    padding-top: 3rem;
  }
  .main-free i {
    font-size: 1.6rem;
  }
  .main--res {
    margin-bottom: 0;
  }
  .main-select {
    margin-bottom: 2rem;
  }
  .main__button {
    margin-top: 5rem;
    width: 100%;
    height: 3.6rem;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  .main-center .is-expand {
    transform: translate(0);
    transition: all 0.4s ease;
  }
}

.product {
  max-width: calc(25% - var(--space));
  margin-left: var(--space);
  background-color: #f4f4f4;
  margin-bottom: var(--space);
  padding: 1.2rem 1rem 1.2rem;
  border-radius: 5px;
}
.product__name {
  color: #01bcb5;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  height: 35px;
  width: 196px;
}
@media screen and (max-width: 1023px) {
.product__name {
    padding-right: 0;
    font-size: 1.2rem;
    height: 25px;
}}
.product-detail {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product-detail__desc {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.product-detail__img {
  flex-shrink: 0;
  max-width: 108px;
  margin-right: 1rem;
  overflow: hidden;
  border-radius: 5px;
}
.product-detail__img img {
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.product-detail__size {
  padding-bottom: 1rem;
}
.product-detail__price {
  color: #C720A0;
  flex-grow: 1;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.product-detail__price span {
  padding-top: 0.6rem;
  display: block;
}
.product-detail__view {
  padding: 0.5rem 0 1rem;
}

.product-detail__desc a {
  color: blue;
}

.product-detail__desc a:hover {
  color: #01bcb5;
}


.product-detail__button {
  flex-shrink: 0;
  width: 100%;
  height: 2.9rem;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.25s ease;
  border-radius: 5px;
}
form.click-button {
    width: 100%;
}
.product-detail__button:hover {
  background-color: #f4f4f4;
  color: #2e2e2e;
}
@media screen and (max-width: 1279px) {
  .product {
    max-width: calc(33.333% - var(--space));
  }
  .product__name {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .product {
    max-width: calc(50% - var(--space));
  }
  .product__name {
    padding-right: 0;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .product {
    max-width: calc(50% - 1.6rem);
    margin-left: 1.6rem;
    padding: 8px;
  }
  .product-detail {
    font-size: 8px;
  }
  .product-detail__button {
    font-size: 8px;
  }
  .product-detail__img {
    margin-right: 0.8rem;
    max-width: 8rem;
  }
  .product-detail__desc {
    width: 6rem;
  }
}

.bottom {
  width: 100%;
  padding: 0 0 7.5rem;
}
.bottom .quantum {
  text-align: center;
}
.bottom .button {
  width: 100%;
  height: 3.5rem;
  margin-top: 2rem;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background: white;
  border: 2px solid black;
  color: black;}

@media screen and (max-width: 767px) {
  .bottom {
    padding: 2.5rem 0;
  }
  .bottom__filter {
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 9rem;
    height: 3.6rem;
    border: 1px solid #2e2e2e;
    border-radius: 2px;
  }
  .bottom__filter img {
    padding-right: 1rem;
  }
}

.footer {
  background-color: #2e2e2e;
}
.footer-top {
  padding: 4.5rem 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .footer-top {
    border: none;
    align-items: center;
    justify-content: center;
  }
}
.footer__logo {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}
.footer__social {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 12rem;
}
@media screen and (max-width: 767px) {
  .footer__social {
    width: 8rem;
  }
  .footer__social img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.footer-content {
  color: #fff;
  padding: 5rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-list__item {
  padding-bottom: 1rem;
}
.footer-list__item:first-child {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer-list__item a {
  color: #fff;
}
.footer__desc {
  max-width: 32%;
  line-height: 1.5;
}
.footer-select {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  color: #fff;
}
.footer-select:first-child {
  padding-top: 1rem;
}
.footer-select-option {
  max-height: 0;
  opacity: 0;
  order: 1;
}
.footer-select-option__item {
  padding-bottom: 1rem;
}
.footer-select-option__item a {
  color: #fff;
}
.footer-select__name {
  order: 0;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #9f9f9f;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-select__name span {
  flex-grow: 1;
}
.footer-select__name::before {
  content: "";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #fff;
  right: 0;
  transition: all 0.25s linear;
}
.footer__text {
  color: #fff;
  width: 100%;
  border-top: 1px solid #9f9f9f;
  padding-top: 2rem;
  padding-bottom: 5rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .footer-content {
    display: none;
  }
}

.active--footer {
  max-height: fit-content;
  opacity: 1;
}

.active--footer + .footer-select__name::before {
  content: "";
}

/*# sourceMappingURL=style.css.map */

/* add */

.header {
  padding: 30px 16px 10px;
  background: white;
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky {
  padding-top: 10px;
}

.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
  margin-top: 20px;
}

.progress-bar {
  height: 3px;
  background: #2e2e2e;
  width: 0%;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.product:hover .product__name {
  color: #C720A0;
}

.product:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .product:hover {
    box-shadow: none;
  }
  .header__logo {
    max-width: 15%;
  }
  .header__contact {
    font-size: 1.6rem;
  }
  .header-center {
      display: none;
  }
  .product-detail {
    font-size: 10px;
  }
}

.header__logo {
  width: 27%;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
